@font-face {
  font-family: 'gilroy-extrabold';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy-light';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans-light';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
  url('../fonts/opensanslight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
	 -webkit-box-sizing: border-box;
	         box-sizing: border-box;
}

*, *::before, *::after {
	 -webkit-box-sizing: inherit;
	         box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "OpenSans-Ligh", Open Sans, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 1px;
	color: #464646;
	background-color: #ffffff; 
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	font-family: "Gilroy-ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2.15px;
	text-decoration: none;
	padding: 8px 43px;
	text-align: center;
	color: #000000;
	background: linear-gradient(transparent 14px, #f0c52e 14px, #f0c52e 24px, transparent 24px, transparent 100%);
	border: none;

}

.button:hover {
	background-color: #f0c52e;
}


/*----------header----------*/


.nav {
	width: 1160px;
	min-height: 209px;
	margin: 0 auto;
	padding-top: 18px;
	background: linear-gradient(#ffffff 41px, #f7e296 41px, #f7e296 100%);
}

.nav__logo {
	margin-left: 60px;
	font-family: "Gilroy-ExtraBold", Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000000;
}

.nav__logo:hover {
	opacity: 0.6;
}

.nav__logo:active {
	opacity: 0.3;
}

.nav__user {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 61px;
	padding-right: 61px;
	padding-top: 18px;
	display: flex;
	justify-content: flex-end;
}

.nav__search {
	margin-right: auto;
}

.nav__button {
	color: #000000;
}

a.nav__person,
a.nav__compare,
a.nav__cart {
	padding-left: 30px;
	color: #000000;
}

a.nav__compare {
	margin-left: 210px;
}

a.nav__cart {
	margin-left: 22px;
}


.nav__person:hover,
.nav__compare:hover,
.nav__cart:hover {
	opacity: 0.6;
}

.nav__login:active,
.nav__compare:active,
.nav__cart:active {
	opacity: 0.6;
}

.nav__site {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 61px;
	padding-right: 61px;
	padding-top: 35px;
	display: flex;
	justify-content: flex-end;
}

.catalog {
	margin-right: auto;
}

.nav__item:nth-child(4) {
	margin-left: 105px;
}

.nav__item:nth-child(3) {
	margin-left: 35px;
}


.nav__link {
	font-family: "Gilroy-ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	color: #000000;
}

.nav__link:hover {
	opacity: 0.6;
}

.nav__link:active {
	opacity: 0.3;
}

.catalog__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	width: 220px;
	margin-right: 20px;
}

.catalog__link {
	line-height: 30px;
	color: #000000;
}

.catalog__link:hover {
	opacity: 0.6;
}

.catalog__link:active {
	opacity: 0.3;
}

.catalog__column {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	display: flex;
	margin-top: 25px;
	margin-bottom: 15px;
	width: 1040px;
	background-color: #f7e296;
}

.catalog__column {
	display: none;
}

.catalog__item {
	margin-bottom: 10px;
}


/*-----------promo-----------*/


.promo__slogan {
	font-family: "Gilroy-ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
	font-weight: 400;
	color: #000000;
}

.promo__value {
	font-family: "Gilroy-LIGHT", Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
	color: #000000;
}

.promo__slider-list {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 0;
}

.promo {
	position: relative;
	width: 1160px;
	min-height: 600px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.promo__slider-item {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 40px;
	padding-top: 20px;
	padding-right: 40px;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background: linear-gradient(#f7e296 130px, transparent 130px, transparent 100%);
}

.promo__slide1,
.promo__slide2 {
	margin-left: 52px;
}

.promo__slide3 {
	margin-top: 65px;
}

.promo__column {
	position: relative;
	width: 560px;
	padding-top: 80px;
	padding-left: 40px;
}

.slide3 .promo__column {
	padding-left: 32px;
}

.promo__slogan {
	margin: 0;
	padding: 0;
}

.promo__slogan3 {
	position: relative;
	z-index: 1;
}


.promo__column::before {
	content: "";
	width: 100px;
	height: 7px;
	position: absolute;
	top: 40px;
	background: #ffffff;
	
}

.promo__slider-item::after {
	content: "";
	font-family: "Gilroy-ExtraBold", Arial, sans-serif;
	font-size: 180px;
	line-height: 180px;
	position: absolute;
	right: 50px;
	top: 10px;
	color: #ffffff;
}

.promo__description1,
.promo__description2,
.promo__description3 {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 48px;
	width: 425px;
}

.promo__description3 {
	width: 280px;
}

.promo__field {
	font-size: 13px;
	line-height: 20px;
}

.promo__text {
	letter-spacing: 0.3px;
}

.promo__text:nth-child(3) {
	margin-bottom: 40px;
}

.promo__text:last-child {
	margin-bottom: 40px;
}

.promo__slider-item:nth-child(1),
.promo__slider-item:nth-child(2),
.promo__slider-item:nth-child(3) {
	z-index: -1;
	opacity: 0;
}

.promo__slider-item:nth-child(1)::after {
	content: "01";
}

.promo__slider-item:nth-child(2)::after {
	content: "02";
}

.promo__slider-item:nth-child(3)::after {
	content: "03";
}

.promo label {
	display: inline-block;
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin-left: 20px;
	position: relative;
	border: 1px solid #000000;
	border-radius: 50%;
}

.slider__controls {
	position: absolute;
	right: 70px;
	top: 340px;
}

#slide1:checked ~ .promo__slider-list > .slide1,
#slide2:checked ~ .promo__slider-list > .slide2,
#slide3:checked ~ .promo__slider-list > .slide3 {
	opacity: 1;
	z-index: 2;
}

#slide1:checked ~ .slider__controls .promo__label-slide1::after,
#slide2:checked ~ .slider__controls .promo__label-slide2::after,
#slide3:checked ~ .slider__controls .promo__label-slide3::after {
	content: "";
	display: block;
	width: 7px;
	height: 7px;
	position: absolute;
	top: 3px;
	left: 3px;
	border: 1px solid #000000;
	border-radius: 50%;
}



/*-----------popular----------*/



.popular {
	width: 1160px;
	margin: 0 auto;
}

.popular__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.popular__link {
	display: block;
	width: 160px;
	height: 160px;
	background-color: rgba(240, 197, 46, 0.5);
}

.popular__link:hover {
	background-color: rgba(240, 197, 46, 1);
	transition-duration: 0.3s;
}

.popular__link:active .popular__img {
	opacity: 0.3;
}

.popular__link {
	display: flex;
	align-items: center;
	justify-content: center;
}

.popular__monopod {
	align-items: flex-end;
}

.popular__name {
	margin: 0;
	padding: 0;
	margin-top: 36px;
	font-family: "Gilroy-ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 0.18px;
	color: #000000;
}


/*-------brands--------*/


.brands {
	width: 1160px;
	margin: 0 auto;
}

.brands__list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.brands__item:nth-child(1):hover {
	background-image: url(../img/logo-1.jpg);
	background-repeat: no-repeat;
	background-position: 0, 0; 
}

.brands__item:nth-child(2):hover {
	background-image: url(../img/logo-2.jpg);
	background-repeat: no-repeat;
	background-position: 0, 0; 
}

.brands__item:nth-child(3):hover {
	background-image: url(../img/logo-3.jpg);
	background-repeat: no-repeat;
	background-position: 0, 0; 
}

.brands__item:nth-child(4):hover {
	background-image: url(../img/logo-4.jpg);
	background-repeat: no-repeat;
	background-position: 0, 0; 
}



