@font-face {
  font-family: 'gilroy-extrabold';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy-light';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans-light';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
  url('../fonts/opensanslight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
	 -webkit-box-sizing: border-box;
	         box-sizing: border-box;
}

*, *::before, *::after {
	 -webkit-box-sizing: inherit;
	         box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "OpenSans-Ligh", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	background-color: #ffffff; 
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	font-family: "Gilroy-ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2.15px;
	text-decoration: none;
	padding: 8px 43px;
	text-align: center;
	color: #000000;
	background: linear-gradient(transparent 14px, #f0c52e 14px, #f0c52e 24px, transparent 24px, transparent 100%);
	border: none;

}

.button:hover {
	background-color: #f0c52e;
}


/*----------header----------*/


.nav {
	width: 1160px;
	min-height: 209px;
	margin: 0 auto;
	padding-top: 18px;
	background: linear-gradient(#ffffff 41px, #f7e296 41px, #f7e296 100%);
}

.nav__logo {
	margin-left: 60px;
	font-family: "Gilroy-ExtraBold", Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000000;
}

.nav__logo:hover {
	opacity: 0.6;
}

.nav__logo:active {
	opacity: 0.3;
}

.nav__user {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 61px;
	padding-right: 61px;
	padding-top: 18px;
	display: flex;
	justify-content: space-between;
}

.nav__search {
	
}

.nav__person {
	
}

.nav__compare {
	
	
}

.nav__cart {
	
	
}

.nav__button {
	color: #000000;
}

.nav__login,
.nav__compare,
.nav__cart {
	color: #000000;
}

.nav__login:hover,
.nav__compare:hover,
.nav__cart:hover {
	opacity: 0.6;
}

.nav__login:active,
.nav__compare:active,
.nav__cart:active {
	opacity: 0.6;
}

.nav__site {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 61px;
	padding-right: 61px;
	padding-top: 35px;
	display: flex;
	justify-content: space-between;
}

.nav__link {
	font-family: "Gilroy-ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	color: #000000;
}

.nav__link:hover {
	opacity: 0.6;
}

.nav__link:active {
	opacity: 0.3;
}

.catalog__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.catalog__link {
	line-height: 30px;
	color: #000000;
}

.catalog__link:hover {
	opacity: 0.6;
}

.catalog__link:active {
	opacity: 0.3;
}




/*-----------promo-----------*/


.promo__slogan {
	font-family: "Gilroy-ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
	font-weight: 400;
	color: #000000;
}

.promo__value {
	font-family: "Gilroy-LIGHT", Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
	color: #000000;
}








/*-----------popular----------*/

.popular {
	width: 1160px;
	margin: 0 auto;
}

.popular__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.popular__link {
	display: block;
	width: 160px;
	height: 160px;
	background-color: #f0c52e;
	opacity: 0.5;
}

.popular__name {
	font-family: "Gilroy-ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 0.18px;
	color: #000000;
}






